<div>
	<%= @task.title %>
</div>

<div>
	Flow Step 

	<%=  link_to flow_step.title, development_plan_flow_step_path(development_plan, flow_step), class: "btn btn-primary"  %>
</div>

<div>

	<%= link_to "Edit", edit_flow_step_task_path, class: "btn btn-warning" %>
	<%= button_to "Delete", flow_step_task_path(flow_step, @task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

</div>
