<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to Projekt
			
				<h4 class="subtitle is-4">Sign In</h4>
	 			 <%= link_to(user_session_path, {:class => "nav-link", :method => :delete}) do  %>
          <span class="sidebar-normal"> Sign_in </span>
            <% end %>
        

			</div>
		</div>
	</div>
</section>