<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 		<title>PDFs - Ruby on Rails</title>
    <%= wicked_pdf_stylesheet_link_tag "bootcamp" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
